.map_canvas {
   border: 2px solid #FF0000;
   border-radius: 5px;
   width:100%;
   height:100%;
}

.map_container {
    border: 2px solid #0078ae;
    border-radius: 5px;
    width:100%;
    height:100%;
}

.tile {
    height:256px;
    width: 256px;
    border: 1px solid #00FF00;
    margin:0px;
    position: absolute;
}

.tile_debug {
    top: 0;
    left: 0;
    z-index: 100;
    position: absolute;
}

.tile_img {
    top: 0;
    left: 0;
    z-index: 200;
    width:100%;
    height:100%;
    position: absolute;
}
